.navbar {
  background-color: darkgrey;
  height: var(--navbar-size);
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  padding: 0 var(--navbar-padding);
  z-index: 99;
}

.navbar .logo {
  flex: 1;
  display: flex;
  justify-content: left;
}

/* burger menu */

.navbar .burger-label {
  display: block;
  width: var(--burger-width);
  height: 24px;
  position: relative;
  cursor: pointer;
}

.navbar .burger-label:before {
  content: "";
  box-shadow: 0 5px 0 0 black,
    0 12px 0 0 black,
    0 19px 0 0 black;
  width: var(--burger-width);
  height: 3px;
  position: absolute;
}

#burger-checkbox {
  width: 25px;
  height: 25px;
  margin: 0;
  display: none;
}

#burger-checkbox:checked~.navbar-list {
  display: flex;
}

/* menu de opciones */

.navbar-list {
  margin: 0;
  width: 200px;
  background-color:antiquewhite;
  padding: 0;
  position: absolute;
  top: var(--navbar-size);
  left: 0;
  height: calc(100vh - var(--navbar-size));
  display: none;
  flex-direction: column;
  gap: .5rem;
}

.navbar-list .navbar-item, ::placeholder {
  text-align: center;
  width: auto;
}

.navbar-list a {
  padding: 1rem 0;
  width: 100%;
  display: inline-block;
  color: black;
}

.navbar-list input {
  margin: 1rem;
}

.navbar-list a:hover {
  color: red;
}

/* pantallas grandes */

@media all and (min-width: 800px) {

  .navbar .burger-label {
    display: none;
  }

  .navbar .logo {
    margin-left: 20px;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 0;
    height: 60px;
    left: 200px;
    top: 5px;
  }

  .navbar-item {
    padding: 2px;
  }

  #buscar {
    margin-top: 15px;
  }

}

