section {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
}

.peli {
  border: solid 1px darkgrey;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.container1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "title  title"
    "peli1  peli2"
    "peli3  peli4"
    "peli5  peli6";
}

.container2 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "title   title"
    "peli7   peli8"
    "peli9   peli10"
    "peli11  peli12";
}
  
.novedades {
  margin-top: 2rem;
}

.title {
  grid-area: title;
}

.peli ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 3.25rem 0;
  margin: 0;
  margin-left: -20px;
  align-items: center;
  color: transparent;
  line-height: 4rem;
}

.peli ul:hover {
  color: turquoise;
  text-shadow: 1.5px 1.5px 1.5px rgb(255, 255, 255),
    1.5px -1.5px 1.5px rgb(255, 255, 255),
    -1.5px 1.5px 1.5px rgb(255, 255, 255),
    -1.5px -1.5px 1.5px rgb(255, 255, 255);
}

.informacion {
  margin-top: 2rem;
  padding-bottom: 0px;
}

.informacion li {
  padding: 0.5rem;
}

.informacion p {
  line-height: 150%;
  margin-top: 0.5rem;
  width: 480px;
}

.similares {
  padding-top: 3rem;
}

.container3 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "title"
    "caratula"
    "trailer";
}

.container4 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "title   title"
    "peli13  peli14"
    "peli15  peli16" 
    "peli17  peli18";
}

/* pantallas grandes */

@media all and (min-width: 800px) {
  .container1 {
    gap: 3rem;
    grid-template-areas:
      "title  title  title"
      "peli1  peli2  peli3"
      "peli4  peli5  peli6";
  }

  .container2 {
    gap: 3rem;
    grid-template-areas:
      "title   title   title"
      "peli7   peli8   peli9"
      "peli10  peli11  peli12";
  }

  .container3 {
    gap: 3rem;
    grid-template-areas:
      "title     title"
      "caratula  trailer";
  }

  .container4 {
    gap: 3rem;
    grid-template-areas:
      "title   title   title"
      "peli13  peli14  peli15"
      "peli16  peli17  peli18";
  }

  .informacion p {
    width: auto;
    max-width: 750px;
  }
}
