.star {
   visibility: hidden;
   font-size: 45px;
   cursor: pointer;
}

.star:before {
   content: "\2605";
   color: turquoise;
   position: relative;
   visibility: visible;
   left: 140px;
   top: -145px;     
}

.star:checked:before {
   content: "\2606";
   color: turquoise;
   position: relative;
   left: 140px;
   top: -145px;
}